html {
    font-size: 16px;
}
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 5rem;*/
    background-color: blue;
    z-index: 1;
}

.header {
    background-color: green;
    border-bottom: 1px solid gray;
}

.header a {
    display: none;
}

.header-ul {
    display: flex;
    margin: 0;
    list-style: none;
    justify-content: end;
}

.header-li {
    width: 5%;
    height: 2.5rem;
    margin-left: 5px;
    background-color: red;
}

.navigation {
    background-color: purple;
    border-bottom: 1px solid gray;
}

.navigation-ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: start;
}

.navigation-li {
    width: 7%;
    height: 2.5rem;
    margin-right: 5px;
    border-bottom: 1px solid black;
    background-color: red;
}

.container {
    background-color: pink;
    margin-top: 90px;
}

/*以line开头的类选择器 */
div[class^="line"] {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: orange;
}

/*包含item的类选择器*/
div[class*="item"]{
    border-radius: 5px;
    background-color: aqua;
    flex: 1;
    margin-right: 10px;
}

/*必须要通过更具体的选择器来增加权重，否则优先级较低无法显示效果*/
.container .boundary-right {
    margin-right: 0;
}

.line-one .one-item{
    height: 3rem;
}

.line-two .two-item{
    height: 7.5rem;
}

.line-three .three-item{
    height: 6.25rem;
}

.line-four .four-item{
    height: 7.5rem;
}

.four-item:first-child {
    flex:2;
    margin-right: 10px;
}

.four-item:last-child {
    flex: 1;
}

.line-five .five-item{
    height: 7.5rem;
}

.line-six .six-item{
    height: 6.25rem;
}


@media (min-width: 350px) and (max-width: 760px){
    html {
        font-size: 20px;
    }
    .header-container {
        position: relative;
        z-index: 0;
    }
    .header {
        text-align: right;
    }
    .header a {
        display: inline-block;
        width: 10%;
        height: 2.5rem;
        background-color: red;
    }
    .header-ul {
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        color: white;
    }
    .header-ul.show {
        display: block;
    }
    .header-li {
        width: 100%;
        margin-left: 0;
        border-bottom: 1px solid white;
        background-color: black;
    }
    .navigation-ul {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .navigation-li {
        width: 23%;
        margin-right: 0;
    }
    .container {
        margin-top: 10px;
    }
    div[class^="line"] {
        flex-wrap: wrap;
    }
    div[class*="item"]{
        margin: 5px 0;
    }
    .line-one .one-item {
        flex: 0 0 48%;
    }
    .line-two .two-item {
        flex: 0 0 48%;
    }

    .line-three .three-item{
        flex: 0 0 48%;
    }

    .line-four .four-item{
        flex: 100%;
    }
    .four-item:first-child {
        margin-right: 0;
    }
    .line-five .five-item{
        flex: 0 0 31%;
    }
    .line-six .six-item{
        flex: 0 0 48%;
    }
}